@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "rowdies";
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  border-bottom: 1px solid rgb(21, 21, 63);
}

.header-logo {
  width: 10%;
}

.header-menu {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-content: center;
  list-style-type: none;
}

/* menu navegacion*/

.header-menu li {
  display: inline-block;
  color: black;
  font-size: 15px;
  padding: 0px 10px;
  text-transform: uppercase;
}
.header-menu ul :hover {
  color: red;
}

/* contenido de portada */

.hero-content {
  display: flex;
  height: 90%;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 5%;
  gap: 30px;
}

.videopnie {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem;
  background: linear-gradient(rgb(156, 156, 161), rgb(112, 156, 238));
  gap: 40px;
}

.img2 {
  max-width: 400px;
}
.modelopnie :hover {
  transform: scale(2, 2);
}
div .section-texto {
  background: linear-gradient(rgb(102, 102, 218), rgb(110, 226, 110));
}

/* footer */

.pie-de-pag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  justify-items: center;
  align-items: center;
  border-top: 2px solid black;
  padding: 2rem;
}

/* blog */

.section-text {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "articulo imagenb"
    "articulo form-floating";
    gap: 20px;
    padding: 3rem;
 
}

.articulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-area: articulo;
  text-indent: 5px;
  background: linear-gradient(rgb(236, 211, 227), rgb(241, 141, 171));
  border-radius: 20px; 
}
.imagenb {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  max-width: 30%;
  grid-area: imagenb;
  
}


/* servicios */

.container-fluid {
  padding: 10px;
}





/* quienes somos */

.biografia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 30%;
}

.manos {
  max-width: 100%;
}

/* contactanos */

.formulario {
  display: flex;
  max-width: 60%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.contacto {
  display: flex;
  font-size: small;
  width: 500px;
  height: 400px;
  flex-direction: column;
  background: linear-gradient(rgb(102, 102, 218), rgb(110, 226, 110));
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .texto {
    background-color: rgb(158, 228, 205);
  }

  .contacto {
    background-color: rgb(170, 170, 233);
  }

  .informa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "agenda"
      "servicio1"
      "servicio2"
      "servicio3";
    gap: 20px;
  }

  .pie-de-pag {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px;
    justify-items: center;
    align-items: center;
  }
}
