@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "rowdies";
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  border-bottom: 1px solid rgb(21, 21, 63);
}

.header-logo {
  width: 10%;
}

.header-menu {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-content: center;
  list-style-type: none;
}

/* menu navegacion*/

.header-menu li {
  display: inline-block;
  color: black;
  font-size: 15px;
  padding: 0px 10px;
  text-transform: uppercase;
}
.header-menu ul :hover {
  color: red;
}

/* contenido de portada */

.hero-content {
  display: flex;
  height: 90%;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 5%;
  gap: 30px;
}

.video {
  display: flex;
  place-content: left;
  padding: 60px;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem;
  background: linear-gradient(rgb(156, 156, 161), rgb(112, 156, 238));
  gap: 40px;
  border-radius: 120px;
}

.img2 {
  max-width: 400px;
}
.modelopnie :hover {
  transform: scale(2, 2);
}
div .section-texto {
  background: linear-gradient(rgb(102, 102, 218), rgb(110, 226, 110));
}

/* footer */

.pie-de-pag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  justify-items: center;
  align-items: center;
  border-top: 2px solid black;
  padding: 2rem;
}

/* blog */

.section-text {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "articulo imagenb"
    "articulo form-floating";
    gap: 20px;
    padding: 3rem;
 
}

.articulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-area: articulo;
  text-indent: 5px;
  background: linear-gradient(rgb(236, 211, 227), rgb(241, 141, 171));
  border-radius: 20px; 
}
.imagenb {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  max-width: 30%;
  grid-area: imagenb;
  
}


/* servicios */

.container {
  padding: 20px;
  background: linear-gradient(rgb(196, 185, 185), beige);
}
.textu {
  display: inline-block;
  place-content: center;
  padding: 60px;
}





/* quienes somos */

.biografia {
  gap: 60px;
  place-content: center;
  text-align: center;
}

/* contactanos */

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
 
  
  border: solid 1px #f1bc95;
  

}

textarea:hover {
  background: #ebbe9d;
  color: #e2dedb;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}


@media screen and (max-width: 480px) {
  
.section-text {
  display: grid;
  grid-template-columns: 2fr;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "articulo "
    "articulo"
    "imagenb" 
    "form-floating";
    gap: 20px;
    padding: 3rem;
 
}

.container {
  display: grid;
  grid-template-columns: 2fr;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
   
}

  .pie-de-pag {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px;
    justify-items: center;
    align-items: center;
  }
}
